*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  padding: 61.99px 165px 91px;
  font-family: "IBM Plex Sans", sans-serif;
}
